.project
.pydevproject
.settings
*pyc
localsettings.py
*.swp
*~
build
dist
ureport.egg-info
.idea
target
binary
.coverage
.DS_Store
ureport_project/excel_contacts
ureport_project/media
tags
*log*
*celerybeat-schedule
