[submodule "ureport_project/rapidsms_generic"]
	path = ureport_project/rapidsms_generic
	url = git://github.com/unicefuganda/rapidsms-generic.git
[submodule "ureport_project/rapidsms_contact"]
	path = ureport_project/rapidsms_contact
	url = git://github.com/unicefuganda/rapidsms-contact.git
[submodule "ureport_project/rapidsms_ureport"]
	path = ureport_project/rapidsms_ureport
	url = git://github.com/unicefuganda/rapidsms-ureport.git
[submodule "ureport_project/rapidsms"]
	path = ureport_project/rapidsms
	url = git://github.com/unicefuganda/rapidsms.git
[submodule "ureport_project/django_eav"]
	path = ureport_project/django_eav
	url = git://github.com/unicefuganda/django-eav.git
[submodule "ureport_project/rapidsms_auth"]
	path = ureport_project/rapidsms_auth
	url = git://github.com/unicefuganda/rapidsms-auth.git
[submodule "ureport_project/rapidsms_polls"]
	path = ureport_project/rapidsms_polls
	url = git://github.com/unicefuganda/rapidsms-polls.git
[submodule "ureport_project/rapidsms_script"]
	path = ureport_project/rapidsms_script
	url = git://github.com/unicefuganda/rapidsms-script.git
[submodule "ureport_project/rapidsms_unregister"]
	path = ureport_project/rapidsms_unregister
	url = git://github.com/unicefuganda/rapidsms-unregister.git
[submodule "ureport_project/rapidsms_uganda_common"]
	path = ureport_project/rapidsms_uganda_common
	url = git://github.com/unicefuganda/rapidsms-uganda-common.git
[submodule "ureport_project/rapidsms_tracking"]
	path = ureport_project/rapidsms_tracking
	url = git://github.com/unicefuganda/rapidsms-tracking.git
[submodule "ureport_project/rapidsms_xforms_src"]
	path = ureport_project/rapidsms_xforms_src
	url = git://github.com/unicefuganda/rapidsms-xforms
[submodule "ureport_project/rapidsms_httprouter_src"]
	path = ureport_project/rapidsms_httprouter_src
	url = git://github.com/unicefuganda/rapidsms-httprouter
[submodule "ureport_project/rapidsms_geoserver"]
	path = ureport_project/rapidsms_geoserver
	url = git://github.com/unicefuganda/rapidsms-geoserver
[submodule "ureport_project/rapidsms_uganda_ussd"]
	path = ureport_project/rapidsms_uganda_ussd
	url = git://github.com/unicefuganda/rapidsms-uganda-ussd.git
[submodule "ureport_project/django_background_task"]
	path = ureport_project/django_background_task
	url = git://github.com/lilspikey/django-background-task.git
[submodule "monitor_src"]
	path = monitor_src
	url = git://github.com/unicefuganda/monitor_src.git
