{% extends "base.html" %}
<!-- add active tag to main navigation -->
{% block partners-active %}current-page{% endblock %}
{% load url from future %}

{% block content %}

<!-- About Ureport content -->
<div class="site-wrapper">
    <div class="row-content">
        <div class="page-title">Partners</div>
        <div class="page-text">
            <div id="slider1">
                <a class="buttons prev" href="#">left</a>
                    <div class="viewport">
                        <ul class="overview">
                            {% for partner in partnersList %}
			    <li><a href="{% url 'website-partners-detail' partner.slug %}"><img src="{{ MEDIA_URL }}/{{partner.image}}" title="{{partner.title}}" /></a></li>
                            {% empty %}
                            <div class="no-entries">Sorry, no partners listed</div>
                            {% endfor %}
                        </ul>
                    </div>
                <a class="buttons next" href="#">right</a>
            </div>
            <div class="page-content">
                <h2> {{partnerDetails.title}} </h2>
		<p><img src="{{ MEDIA_URL }}/{{partnerDetails.image}}" title="{{partnerDetails.title}}" align="left" />{{partnerDetails.content|linebreaks}}</p><p><a href="{{partnerDetails.website}}" target="_blank">{{partnerDetails.website}}</p></a>
            </div>
        </div>
          
        <!-- AddThis Button BEGIN -->
        <div class="sharebar">
            <div class="addthis_toolbox addthis_default_style addthis_16x16_style">
                <div class="sharetext">Share this</div>
                    <a class="addthis_button_facebook"></a>
                    <a class="addthis_button_twitter"></a>
                    <a class="addthis_button_google_plusone_share"></a>
                    <a class="addthis_button_email"></a>
                    <a class="addthis_button_linkedin"></a>
                    <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
                </div>
            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js"></script>
        </div>
    </div>
    <!-- AddThis Button END -->

    <div class="sidebar">
        <div class="page-picture"><img src="{{ MEDIA_URL }}ureport_website/img/partners_image.jpg" height="341" width="350"/></div>
        <div class="page-quote">
            {% with  quoteList|random as randomQuote %}
                <div class="quote-question">{{randomQuote.question}}</div>
                <div class="quote-answer">{{randomQuote.content}}</div>
                <div class="quote-author"> ~ {{randomQuote.author}}</div>
            {% endwith %}
        </div>
    <div class="page-ad"><img src="{{ MEDIA_URL }}ureport_website/img/become_rest.gif" height="135" width="350"/></div>
  </div>
</div>

<!-- Javascript for scroller -->
<script type="text/javascript" src="{{ MEDIA_URL }}ureport_website/js/jquery.tinycarousel.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#slider1').tinycarousel({ display: 1 }); 
    });
</script>

{% endblock %}
